[unit]
Description = Eclipse fog05 Native Plugin
After=network.target


[Service]
Type=simple
PIDFile=/var/fos/hv-native.pid
ExecStart = sudo /usr/bin/fos-hv-native -c /etc/fos/native-hypervisor/config.yaml
KillMode=process
Restart=on-failure
User=fos
[Install]
WantedBy=multi-user.target
